/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --white: #FFFFFF;
  --off-white: #F2F2F2;
  --seasalt: #F8F9FA;
  --french-gray: #CED4DA;
  --french-gray-2: #ADB5BD;
  --slate-gray: #6C757D;
  --onyx: #495057;
  --eerie-black: #212529;
  --misty-rose: #FFEBE7;
  --bittersweet: #F27059;
  --jasper: #DC6651;
  --red: #EF233C;
  --french-gray-filter: invert(85%) sepia(6%) saturate(239%) hue-rotate(169deg) brightness(100%) contrast(89%);
  --french-gray-2-filter: invert(84%) sepia(8%) saturate(275%) hue-rotate(169deg) brightness(85%) contrast(89%);
  --slate-gray-filter: invert(45%) sepia(10%) saturate(369%) hue-rotate(167deg) brightness(98%) contrast(93%);
  --onyx-filter: invert(9%) sepia(7%) saturate(1316%) hue-rotate(169deg) brightness(103%) contrast(88%);
  --bittersweet-filter: invert(64%) sepia(31%) saturate(7168%) hue-rotate(328deg) brightness(107%) contrast(90%);
}

body {
  font-family: 'Inter Regular', 'Arial', sans-serif;
  font-size: 16px;
  color: var(--eerie-black);
  margin: 0;
  padding: 0;
  width: 100%;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.gap-4 {
  gap: 0.25rem;
}

.gap-8 {
  gap: 0.5rem;
}

.gap-12 {
  gap: 0.75rem;
}

.gap-16 {
  gap: 1rem;
}

.gap-24 {
  gap: 1.5rem;
}

.gap-32 {
  gap: 2rem;
}

.gap-48 {
  gap: 3rem;
}

.gap-80 {
  gap: 5rem;
}

.column-gap-80 {
  column-gap: 5rem;
}

.flex-1 {
  flex: 1;
}

.flex-grow-1 {
  flex-grow: 1;
}

.align-center {
  align-items: center;
}

.overflow-hidden {
  overflow: hidden;
}

.min-width-0 {
  min-width: 0;
}

.flex-wrap {
  flex-flow: wrap;
}

.padding-left-32 {
  padding-left: 2rem;
}

.padding-left-44 {
  padding-left: 2.75rem;
}

.hidden {
  display: none;
}



/** FONT PROPERTIES **/

@font-face {
  font-family: 'Inter Regular';
  src: url('./assets/fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter Medium';
  src: url('./assets/fonts/Inter-Medium.ttf');
}

@font-face {
  font-family: 'Inter SemiBold';
  src: url('./assets/fonts/Inter-SemiBold.ttf');
}

@font-face {
  font-family: 'Inter Bold';
  src: url('./assets/fonts/Inter-Bold.ttf');
}

@font-face {
  font-family: 'Georgia Regular';
  src: url('./assets/fonts/Georgia-Regular.ttf');
}

@font-face {
  font-family: 'Georgia Bold';
  src: url('./assets/fonts/Georgia-Bold.ttf');
}

@font-face {
  font-family: 'Georgia Italic';
  src: url('./assets/fonts/Georgia-Italic.ttf');
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('./assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url('./assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('./assets/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Oswald Regular';
  src: url('./assets/fonts/Oswald-Regular.ttf');
}

@font-face {
  font-family: 'Oswald Medium';
  src: url('./assets/fonts/Oswald-Medium.ttf');
}

@font-face {
  font-family: 'Lato Regular';
  src: url('./assets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato Bold';
  src: url('./assets/fonts/Lato-Bold.ttf');
}

h2 {
  font-family: 'Inter Bold';
  font-size: 1.5rem;
}

h3 {
  font-family: 'Inter SemiBold';
  font-size: 1rem;
  text-transform: uppercase;
}

strong {
  font-weight: 600;
}

.preview-area

.page.inter,
.page.inter header h2,
.page.inter li {
  font-family: 'Inter Regular';
}

.page.inter main h1 {
  font-family: 'Inter SemiBold';
}

.page.inter main h2 {
  font-family: 'Inter Bold';
}

.page.georgia,
.page.georgia header h2,
.page.georgia li {
  font-family: 'Georgia Regular';
}

.page.georgia main h1 {
  font-family: 'Georgia Bold';
}

.page.georgia main h2 {
  font-family: 'Georgia Bold';
}

.page.montserrat,
.page.montserrat header h2,
.page.montserrat li {
  font-family: 'Montserrat Regular';
}

.page.montserrat main h1 {
  font-family: 'Montserrat SemiBold';
}

.page.montserrat main h2 {
  font-family: 'Montserrat SemiBold';
}

.page.oswald,
.page.oswald header h2,
.page.oswald li {
  font-family: 'Lato Regular';
}

.page.oswald header h1 {
  font-family: 'Oswald Regular';
}

.page.oswald main h1 {
  font-family: 'Oswald Medium';
}

.page.oswald main h2 {
  font-family: 'Lato Bold';
}

.page header h1 {
  font-size: 3rem;
  line-height: 120%;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.page header h2 {
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0.05rem;
}

.page main h1 {
  font-size: 1rem;
  line-height: 140%;
  text-transform: uppercase;
}

.page main h2 {
  font-size: 0.875rem;
  line-height: 150%;
}

.page hr {
  border: 1px solid black;
}



/** COLOR PROPERTIES **/

.bittersweet {
  color: var(--bittersweet);
}

.bittersweet-filter {
  filter: var(--bittersweet-filter);
}

.onyx {
  color: var(--onyx);
}

.slate-gray {
  color: var(--slate-gray);
}

.onyx-filter {
  filter: invert(30%) sepia(16%) saturate(348%) hue-rotate(169deg) brightness(90%) contrast(87%);
}



/** LIST PROPERTIES **/
li {
  font-family: 'Inter Medium';
}

li.entry img {
  filter: var(--bittersweet-filter);
  height: 1.25rem;
}

li.entry button.edit img {
  filter: var(--onyx-filter);
}

li.entry.visibility-false {
  opacity: 0.5;
}


/** IMAGE PROPERTIES **/
.icon-16 {
  height: 1rem;
}

.icon-20 {
  height: 1.25rem;
}



/** BUTTON PROPERTIES **/

button {
  border-radius: 0.25rem;
  border: solid 1px transparent;
  padding: 0.75rem;
  background: none;

  font-family: 'Inter Medium';
  font-size: 0.875rem;
  transition: all 0.08s linear;
}

button.ghost {
  border: none;
}

button.ghost:hover {
  outline: solid 1px var(--onyx);
}

button.outline.black {
  border: solid 1px var(--eerie-black);
  color: var(--eerie-black);
}

button.outline.black:hover {
  background-color: var(--slate-gray);
  border: solid 1px var(--slate-gray);
  color: var(--white);
}

button.outline.red {
  border: solid 1px var(--red);
  color: var(--red);
}

button.outline.red:hover {
  background-color: var(--red);
  color: var(--white);
}

button.french-gray-2 {
  color: var(--eerie-black);
}

button.french-gray-2:hover {
  background-color: var(--french-gray-2);
}

button.bittersweet:hover {
  background-color: var(--misty-rose);
  color: var(--bittersweet);
}

button.icon, button.icon-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

button.icon {
  padding: 0.25rem;
}

button.icon img {
  height: 1rem;
}

button.icon:hover {
  border: solid 1px var(--french-gray);
}

button.power {
  background-color: var(--bittersweet);
  color: var(--white);
}

button.power:hover {
  background-color: var(--jasper);
}

button.small {
  padding: 0.5rem 0.75rem;
}



/** NOTIFICATION MODAL PROPERTIES **/

.notification {
  display: flex;
  justify-content: center;
}

.notification-container {
  padding: 0rem 2rem;
}



/** INPUT PROPERTIES **/

label {
  font-family: 'Inter SemiBold';
  font-size: 0.875rem;
  color: var(--onyx);
}

input, textarea, select {
  border: solid 1px var(--french-gray);
  border-radius: 0.25rem;
  font-family: 'Inter Regular';
  font-size: 1rem;
  color: var(--eerie-black);
  padding: 0.75rem;
}

select {
  padding: 0.85rem 0.75rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('./assets/chevron-down.svg');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 1rem auto, 100%;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  resize: none;
}

div.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

div.input.flex-column-reverse {
  flex-direction: column-reverse;
}

input[type="color"] {
	-webkit-appearance: none;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  width: 100%;
  height: 3rem;
  padding: 0rem;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: solid 1px var(--french-gray);
  border-radius: 0.25rem;
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid var(--eerie-black);
}

.radio-img {
  width: 10rem;
  border: solid 1px var(--french-gray-2);
  border-radius: 0.25rem;
}



/** LAYOUT PROPERTIES **/

nav {
  background-color: var(--bittersweet);
  padding: 1rem 3rem;
}

main {
  display: flex;

  min-height: calc(100vh - 4rem);
}

.edit-area {
  background-color: var(--seasalt);
  flex: 1;
  max-height: 1214px;
}

.preview-area {
  background-color: var(--slate-gray);
  flex: 1;
}

.options-container {
  background-color: var(--french-gray);
  padding: 2rem 3rem;
}

.options-container .buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.options-container .left, .options-container .right {
  display: flex;
  gap: 1rem;
}

.input-area {
  padding: 3rem;
  padding-bottom: 30rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  overflow-y: scroll;
  max-height: 47.7%;
}

.input-area::-webkit-scrollbar {
  width: 0.75rem;
}

.input-area::-webkit-scrollbar-track {
  background: #dee1e3;
}

.input-area::-webkit-scrollbar-thumb {
  background: var(--french-gray-2);
}

.input-area::-webkit-scrollbar-thumb:hover {
  background: #9aa1a8;
}

.input-area::-webkit-scrollbar-thumb:active {
  background: var(--onyx);
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input-container .header {
  display: flex;
  justify-content: space-between;
}

img.chevron {
  filter: var(--onyx-filter);
}

img.chevron.up {
  transform: rotate(0deg);
}

img.chevron.down {
  transform: rotate(180deg);
}

.input-container .entries-input-container {
  padding-left: 2rem;
}

.input-container form {
  display: flex;
  /*display: none;*/
  flex-direction: column;
  gap: 1rem;
}



/** CUSTOMIZATION PROPERTIES **/

.layout-preview {
  width: 17rem;
  height: 22rem;
  border: solid 2px var(--eerie-black);
  border-radius: 0.25rem;
}

div.palette {
  min-width: 8rem;
  align-items: center;
}


/** PAGE PROPERTIES **/
.page {
  background-color: var(--white);
  width: 816px;
  height: 1054px;
  margin: 5rem;
  top: 0;

  font-size: 0.875rem;
  line-height: 150%;
}

/*.page li {
  font-family: 'Inter Regular';
  list-style: disc;
  margin-left: 2rem;
}*/

.traditional {
  padding: 2rem;
}

.traditional .container {
  margin-left: 2rem;
}

.traditional hr {
  margin: 3rem 0rem;
}

.banner header {
  padding: 3rem 0rem;
  text-align: center;
}

.banner main {
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.banner main .column {
  padding: 1.5rem;
  padding-right: 0.5rem;
}

.banner main .main {
  padding: 1.5rem;
}

.banner header h1 {
  font-size: 2.5rem;
}

.banner .home-img {
  padding-top: 4px;
}



/** MODAL PROPERTIES **/
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal .modal-content.warning {
  background-color: var(--white);
  padding: 3rem;
}