/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --white: #FFFFFF;
  --seasalt: #F8F9FA;
  --french-gray: #CED4DA;
  --french-gray-2: #ADB5BD;
  --slate-gray: #6C757D;
  --onyx: #495057;
  --eerie-black: #212529;
  --bittersweet: #F27059;
  --red: #EF233C;
  --french-gray-filter: invert(85%) sepia(6%) saturate(239%) hue-rotate(169deg) brightness(100%) contrast(89%);
  --french-gray-2-filter: invert(84%) sepia(8%) saturate(275%) hue-rotate(169deg) brightness(85%) contrast(89%);
  --slate-gray-filter: invert(45%) sepia(10%) saturate(369%) hue-rotate(167deg) brightness(98%) contrast(93%);
  --onyx-filter: invert(9%) sepia(7%) saturate(1316%) hue-rotate(169deg) brightness(103%) contrast(88%);
  --bittersweet-filter: invert(64%) sepia(31%) saturate(7168%) hue-rotate(328deg) brightness(107%) contrast(90%);
}

body {
  font-family: 'Inter Regular', 'Arial', sans-serif;
  font-size: 16px;
  color: var(--eerie-black);
  margin: 0;
  padding: 0;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-space-between {
  justify-content: space-between;
}

.gap-8 {
  gap: 0.5rem;
}

.gap-12 {
  gap: 0.75rem;
}

.gap-16 {
  gap: 1rem;
}

.gap-24 {
  gap: 1.5rem;
}

.gap-32 {
  gap: 2rem;
}

.gap-48 {
  gap: 3rem;
}

.flex-1 {
  flex: 1;
}

.align-center {
  align-items: center;
}

.overflow-hidden {
  overflow: hidden;
}

.min-width-0 {
  min-width: 0;
}

.flex-wrap {
  flex-flow: wrap;
}



/** FONT PROPERTIES **/

@font-face {
  font-family: 'Inter Regular';
  src: url('./assets/fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter Medium';
  src: url('./assets/fonts/Inter-Medium.ttf');
}

@font-face {
  font-family: 'Inter SemiBold';
  src: url('./assets/fonts/Inter-SemiBold.ttf');
}

@font-face {
  font-family: 'Inter Bold';
  src: url('./assets/fonts/Inter-Bold.ttf');
}

h2 {
  font-family: 'Inter Bold';
  font-size: 1.5rem;
}

.bittersweet {
  color: var(--bittersweet);
}

.bittersweet-filter {
  filter: var(--bittersweet-filter);
}

.onyx {
  color: var(--onyx);
}

.onyx-filter {
  filter: invert(30%) sepia(16%) saturate(348%) hue-rotate(169deg) brightness(90%) contrast(87%);
}



/** LIST PROPERTIES **/
li {
  font-family: 'Inter Medium';
}

li.entry img {
  filter: var(--bittersweet-filter);
  height: 1.25rem;
}

li.entry button.edit img {
  filter: var(--onyx-filter);
}


/** IMAGE PROPERTIES **/
.icon-16 {
  height: 1rem;
}

.icon-20 {
  height: 1.25rem;
}



/** BUTTON PROPERTIES **/

button {
  border-radius: 0.25rem;
  border: solid 2px transparent;
  padding: 0.75rem;
  background: none;

  font-family: 'Inter SemiBold';
  font-size: 0.875rem;
  transition: all 0.05s linear;
}

button.ghost {
  border: none;
}

button.ghost:hover {
  outline: solid 1px var(--onyx);
}

button.outline.black {
  border: solid 1px var(--eerie-black);
  color: var(--eerie-black);
}

button.outline.red {
  border: solid 1px var(--red);
  color: var(--red);
}

button.bittersweet:hover {
  border: solid 2px var(--bittersweet);
  color: var(--bittersweet);
}

button.icon, button.icon-text {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.5rem;
}

button.icon {
  padding: 0.25rem;
}

button.icon img {
  height: 1rem;
}

button.power {
  background-color: var(--bittersweet);
  color: var(--white);
}

button.small {
  padding: 0.5rem 0.75rem;
}



/** INPUT PROPERTIES **/

label {
  font-family: 'Inter SemiBold';
  font-size: 0.875rem;
  color: var(--onyx);
}

input, textarea, select {
  border: solid 1px var(--french-gray);
  border-radius: 0.25rem;
  font-family: 'Inter Regular';
  font-size: 1rem;
  color: var(--eerie-black);
  padding: 0.75rem;
}

select {
  padding: 0.85rem 0.75rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('./assets/chevron-down.svg');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 1rem auto, 100%;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  resize: none;
}

div.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}




nav {
  background-color: var(--bittersweet);
  padding: 1rem 3rem;
}

main {
  display: flex;

  min-height: calc(100vh - 4rem);
}

.edit-area {
  background-color: var(--seasalt);
  flex: 1;
}

.preview-area {
  background-color: var(--slate-gray);
  flex: 1;
}

.entries {
  padding-left: 2rem;
}

.options-container {
  background-color: var(--french-gray);
  padding: 2rem 3rem;
}

.options-container .buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.options-container .left, .options-container .right {
  display: flex;
  gap: 1rem;
}

.input-area {
  padding: 3rem;
  padding-bottom: 15rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input-container .header {
  display: flex;
  justify-content: space-between;
}

img.chevron {
  filter: var(--onyx-filter);
}

.input-container .input-form {
  display: flex;
  /*display: none;*/
  flex-direction: column;
  gap: 1rem;
  padding-left: 3rem;
}